---
---

@import "minima";


/*
.site-title {
  font-weight: 700;
  font-size: 1.5rem;
  font-family: Futura
} */

:root {
  --base-font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif;
}
