---
---

@import "minima";


/*
.site-title {
  font-weight: 700;
  font-size: 1.5rem;
  font-family: Futura
} */


/* Force Poppins on all title-like elements in Minima */
.site-title,
.page-heading,
.post-title,
h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif !important;
}
